<html>
<head>
{%load staticfiles%}   
<link href="{%static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{%static "css/jumbotron.css"%}" rel="stylesheet">
    <title>U.M.A</title>
    </head>

    <body>
    <div class="jumbotron">
        <H2>University Mark Analysis </H2>

        <p> This App is been developed to provide the result Analysis of University Examinations 
        In a well formated and grahical structure to easily identify the Growth of the students knowledge.

        This App is been developed by <strong>K SYED JAFER </strong>.

        To know more about my projects <a href="https://github.com/syedjafer"> Come Here </a>
        <br><br> <a href="upload"> <button class="btn btn-primary">Upload Files</button></a>

        </div>
        </body>
        </html>

